﻿@model Authenticator.BL.Models.InstanceInfoRequest

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-light">Approved</h1>
<div>
    <table class="table text-light">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.DateOfRequest)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Instance.HostName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Instance.CurrentUser)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Html.DisplayFor(model => model.DateOfRequest)</th>
                <td>@Html.DisplayFor(model => model.Instance.HostName)</td>
                <td>@Html.DisplayFor(model => model.Instance.CurrentUser)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
