﻿@model Authenticator.BL.Models.InstanceInfoRequest

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger">Decline</h1>

<h3 class="text-danger">Are you sure you want to delete this request?</h3>
<div class="text-light">
    <hr />
    <dl class="row">
        <dt class="col-sm-10">
            Details
        </dt>
        <dd class="col-sm-10">
            Request date: @Html.DisplayFor(model => model.DateOfRequest)
        </dd>
        <dd class="col-sm-10">
            Requester: @Html.DisplayFor(model => model.Instance.CurrentUser)
        </dd>
        <dd class="col-sm-10">
            Target user: @Html.DisplayFor(model => model.Instance.TargetUser)
        </dd>
    </dl>
    
    <form asp-action="Decline">
        <input type="hidden" asp-for="RequestId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
