﻿@model IEnumerable<Authenticator.BL.Models.InstanceInfoRequest>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Requests</h1>

<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfRequest)
            </th>
            <th>
                Requester
            </th>
            <th>
                Target user
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instance.HostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instance.MAC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(x => item.DateOfRequest)
            </td>
            <td>
                @Html.DisplayFor(x => item.Instance.CurrentUser)
            </td>
            <td>
                @Html.DisplayFor(x => item.Instance.TargetUser)
            </td>
            <td>
                @Html.DisplayFor(x => item.Instance.HostName)
            </td>
            <td>
                @Html.DisplayFor(x => item.Instance.MAC)
            </td>
            <td>
                <a asp-action="Approve" asp-route-id="@item.RequestId">Approve</a> |
                <a asp-action="Decline" asp-route-id="@item.RequestId">Decline</a>
            </td>
        </tr>}
    </tbody>
</table>
