﻿@model Authenticator.Web.Models.AddUserToRoleViewModel

<h4 class="text-light">Add user to role</h4>
<hr />
<div class="container-fluid">
    <form asp-action="AddUserToRole">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="text-light">Users</h4>
                    @Html.DropDownListFor(model => model.User, Model.UserOptions, "Choose a user", new { @class = "btn btn-secondary btn-lg dropdown-toggle"})
                </div>
                <div class="col-sm-6">
                    <h4 class="text-light">Roles</h4>
                    @Html.DropDownListFor(model => model.Role, Model.RoleOptions, "Choose a role", new { @class = "btn btn-secondary btn-lg dropdown-toggle"})                        
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
