﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" href="css/adminpage.css"/>
</head>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-light"><strong>Admin Page</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a asp-action="CreateRole">
            <div class="tile green">
                <h3 class="title">Create role</h3>
                <p>Create a new role within application.</p>
            </div></a>
        </div>
        <div class="col-sm-4">
            <a asp-action="AddUserToRole">
                <div class="tile purple">
                    <h3 class="title">Add user to role</h3>
                    <p>You can add here an existing user to a role.</p>
                </div>
                </a>
        </div>
        <div class="col-sm-4">
            <a asp-action="ShowUsers">
            <div class="tile orange">
                <h3 class="title">Show users</h3>
                <p>Check existing users and their rights.</p>
            </div>
            </a>
        </div>
    </div>
</div>