@model System.Collections.Generic.List<Authenticator.Web.Models.ShowUsersViewModel>

@{
    ViewData["Title"] = "Users";
}

<head>
    <title>Users and roles</title>
</head>
<body>
<div class="container">
    <table class="table table-bordered table-light">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Role</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>
</body>
