body {
    font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 400;
}

p, span, a, ul, li, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5em;
    font-weight: 300;
}

strong {
    font-weight: 400;
}

.tile {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
}
.tile .title {
    margin-top: 0px;
}
.tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green {
    color: #fff;
}
.tile.purple {
    background: #4A3041;
}
.tile.purple:hover {
    background: #4A4041;
}
.tile.red {
    background: #B95946;
}
.tile.red:hover {
    background: #B96946;
}
.tile.green {
    background: #43807A;
}
.tile.green:hover {
    background: #438090;
}
.tile.blue {
    background: #2672EC;
}
.tile.blue:hover {
    background: #125acd;
}
.tile.orange {
    background: #DC572E;
}
.tile.orange:hover {
    background: #b8431f;
}