﻿@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header class="text-light">
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>