﻿@model Authenticator.BL.Models.RegisteredInstance

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger">Delete</h1>

<h3 class="text-danger">Are you sure you want to delete this registered instance?</h3>
<div>
    <hr />
    <dl class="row text-light">
        <dt class="col-sm-10">
            Details
        </dt>
        <dd class="col-sm-10">
            Request date: @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dd class="col-sm-10">
            Requester: @Html.DisplayFor(model => model.Instance.CurrentUser)
        </dd>
        <dd class="col-sm-10">
            Target user: @Html.DisplayFor(model => model.Instance.TargetUser)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
