﻿@model IEnumerable<Authenticator.BL.Models.RegisteredInstance>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Registered instances</h1>

<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instance.HostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instance.MAC)
            </th>
            <th>
                Requester
            </th>
            <th>
                Target user
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instance.HostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instance.MAC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instance.CurrentUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instance.TargetUser)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
